*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*dm
/app/build
.idea
/.idea
/app/proguard-rules.pro
/app/release
/gradle
build.gradle.kts
settings.gradle.kts
gradle.properties
gradlew
gradlew.bat
